In [1]:
import pandas as pd

In [2]:
d = pd.read_stata('2011.dta')

In [7]:
d.shape

(10137, 82)

In [3]:
d.head()

,ID,householdID,sysbp,diabp,pulse,peakflow,grip,walktime,bloodweight,qc1_va003,...,dlrc,ser7,orient,draw,tr20,birth,birthm,iyear,imonth,age
0,010104101002,0101041010,123.666664,67.333336,55.333332,200.000000,43.0,NaN,32381.556641,1.0,...,7.0,5.0,4.0,0.no,17.0,1963.0,5.0,2011,7,48.166668
1,010104102002,0101041020,143.333328,74.666664,67.666664,236.666672,35.0,5.300,31800.947266,1.0,...,2.0,2.0,2.0,0.no,6.0,1951.0,9.0,2011,8,59.916668
2,010104104001,0101041040,178.666672,87.000000,55.000000,176.666672,30.0,4.015,31795.683594,1.0,...,6.0,2.0,3.0,0.no,12.0,1950.0,9.0,2011,7,60.833332
3,010104105002,0101041050,191.000000,106.333336,58.333332,560.000000,48.0,5.250,31711.080078,1.0,...,7.0,5.0,3.0,0.no,13.0,1943.0,12.0,2011,8,67.666664
4,010104107001,0101041070,118.333336,54.000000,53.666668,173.333328,30.0,4.700,63400.378906,1.0,...,6.0,4.0,3.0,0.no,10.0,1932.0,3.0,2011,7,79.333336

In [4]:
d.columns

Index(['ID', 'householdID', 'sysbp', 'diabp', 'pulse', 'peakflow', 'grip',
       'walktime', 'bloodweight', 'qc1_va003', 'wbc', 'mcv', 'plt', 'bun',
       'glu', 'crea', 'cho', 'tg', 'hdl', 'ldl', 'crp', 'hbalc', 'ua', 'htc',
       'hgb', 'cysc', 'agey', 'ragender', 'raeduc_c', 'mstat', 'rural',
       'shlta', 'dressa', 'batha', 'eata', 'beda', 'toilta', 'urina', 'moneya',
       'medsa', 'shopa', 'mealsa', 'housewka', 'joga', 'walk1kma', 'walk100a',
       'chaira', 'climsa', 'stoopa', 'lifta', 'dimea', 'armsa', 'cesd10',
       'hibpe', 'diabe', 'cancre', 'lunge', 'hearte', 'stroke', 'psyche',
       'arthre', 'dyslipe', 'livere', 'kidneye', 'digeste', 'asthmae',
       'memrye', 'bmi', 'height', 'weight', 'slfmem', 'imrc', 'dlrc', 'ser7',
       'orient', 'draw', 'tr20', 'birth', 'birthm', 'iyear', 'imonth', 'age'],
      dtype='object')

In [5]:
d.walktime.isna().value_counts()

True     5776
False    4361
Name: walktime, dtype: int64

In [6]:
d.cysc.isna().value_counts()

False    7592
True     2545
Name: cysc, dtype: int64

In [13]:
len(chronic)

14

In [10]:
ID = ['ID','householdID']
bio = ['sysbp','diabp','pulse','wbc','mcv','plt','bun','glu','crea','cho','tg','hdl','ldl','crp','hbalc','ua','htc','hgb']
chronic = ['hibpe','diabe','cancre','lunge','hearte','stroke','psyche','arthre','dyslipe','livere','kidneye','digeste','asthmae','memrye']
limit = ['dressa','batha','eata','beda','toilta','urina','moneya','medsa','shopa','mealsa','housewka','joga','walk1kma','walk100a','chaira','climsa','stoopa','lifta','dimea','armsa']
cd = ['cesd10','shlta','slfmem','imrc','dlrc','ser7','orient','draw']

In [47]:
d = d[(d.age >= 40) &(d.age <= 85)]

df = d[bio+chronic+limit+cd+['age']]

In [48]:
df.shape

(10027, 61)

In [49]:
df.columns

Index(['sysbp', 'diabp', 'pulse', 'wbc', 'mcv', 'plt', 'bun', 'glu', 'crea',
       'cho', 'tg', 'hdl', 'ldl', 'crp', 'hbalc', 'ua', 'htc', 'hgb', 'hibpe',
       'diabe', 'cancre', 'lunge', 'hearte', 'stroke', 'psyche', 'arthre',
       'dyslipe', 'livere', 'kidneye', 'digeste', 'asthmae', 'memrye',
       'dressa', 'batha', 'eata', 'beda', 'toilta', 'urina', 'moneya', 'medsa',
       'shopa', 'mealsa', 'housewka', 'joga', 'walk1kma', 'walk100a', 'chaira',
       'climsa', 'stoopa', 'lifta', 'dimea', 'armsa', 'cesd10', 'shlta',
       'slfmem', 'imrc', 'dlrc', 'ser7', 'orient', 'draw', 'age'],
      dtype='object')

In [50]:
#from pandas_profiling import ProfileReport

#profile = ProfileReport(df, title='d11_stat')
#profile.to_file('d11_stat.html')

In [51]:
m1 = {'1.Very good':'Very good','2.Good':'Good','3.Fair':'Fair','4.Poor':'Poor','5.Very Poor':'Very Poor'}
m2 = {'1.Excellent':'Excellent','2.Very Good':'Very Good','3.Good':'Good','4.Fair':'Fair','5.Poor':'Poor'}

df['shlta'] = df.shlta.map(m1)
df['slfmem'] = df.slfmem.map(m2)

In [54]:
df.head()

,sysbp,diabp,pulse,wbc,mcv,plt,bun,glu,crea,cho,tg,hdl,ldl,crp,hbalc,ua,htc,hgb,hibpe,diabe,cancre,lunge,hearte,stroke,psyche,arthre,dyslipe,livere,kidneye,digeste,asthmae,memrye,dressa,batha,eata,beda,toilta,urina,moneya,medsa,shopa,mealsa,housewka,joga,walk1kma,walk100a,chaira,climsa,stoopa,lifta,dimea,armsa,cesd10,shlta,slfmem,imrc,dlrc,ser7,orient,draw,age
0,123.666664,67.333336,55.333332,9.6,72.900002,198.0,19.43894,95.940002,0.9831,254.382797,63.720001,63.402401,175.903000,0.98,4.6,3.59520,57.599998,20.200001,0.no,0.no,0.no,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,0.no,1.yes,0.no,0.no,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.0,Good,Very Good,10.0,7.0,5.0,4.0,0.no,48.166668
1,143.333328,74.666664,67.666664,5.3,95.400002,179.0,12.35241,94.139999,0.8814,205.671204,57.525002,61.469398,131.057404,0.34,4.9,5.24664,52.000000,17.400000,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,6.0,Very Poor,Good,4.0,2.0,2.0,2.0,0.no,59.916668
2,178.666672,87.000000,55.000000,7.5,88.300003,271.0,22.09989,105.839996,1.1526,168.171005,88.500000,47.165199,98.969597,5.67,4.8,4.55952,44.500000,14.900000,0.no,0.no,0.no,0.no,0.no,0.no,0.no,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,3.0,Good,Fair,6.0,6.0,2.0,3.0,0.no,60.833332
3,191.000000,106.333336,58.333332,4.7,86.099998,208.0,15.62958,87.480003,0.6554,219.975403,91.154999,46.005402,154.253403,2.47,4.6,3.44736,46.000000,16.100000,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.No,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,2.0,Poor,Good,6.0,7.0,5.0,3.0,0.no,67.666664
4,118.333336,54.000000,53.666668,8.3,85.599998,290.0,13.22072,95.760002,0.9040,168.944199,109.739998,40.979599,103.222198,0.76,4.8,5.20128,43.799999,14.600000,1.yes,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.no,0.No,0.No,0.No,0.No,1.Yes,0.No,0.No,0.No,0.No,0.No,0.No,1.yes,1.yes,1.yes,1.yes,1.yes,1.yes,0.no,0.no,0.no,6.0,Poor,Very Good,4.0,6.0,4.0,3.0,0.no,79.333336

In [ ]:
from pycaret.regression import *
reg = setup(df,target='age',numeric_features=['ser7','orient','imrc','dlrc'],ordinal_features = { 'shlta' : ['Very Poor','Poor','Fair','Good','Very good']
                                                ,'slfmem' : ['Poor','Fair','Good','Very Good','Excellent']}
                                                ,normalize_method = 'minmax'
                                                ,normalize=True
                                                ,ignore_low_variance=True,remove_multicollinearity=True
                                                ,session_id=123)

In [53]:
compare_models()

IntProgress(value=0, description='Processing: ', max=251)

Initiated  . . . . . . . . . . . . . . . . . .                     16:46:42
Status     . . . . . . . . . . . . . . . . . .  Preparing Data for Modeling
ETC        . . . . . . . . . . . . . . . . . .              Calculating ETC

Empty DataFrame
Columns: [Model, MAE, MSE, RMSE, R2, RMSLE, MAPE, TT (Sec)]
Index: []

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').