In [16]:
import pandas as pd

In [17]:
d11 = pd.read_stata('CHARLS_Age_Prediction_2011_Master_age.dta')
d15 = pd.read_stata('CHARLS_Age_Prediction_2015_Master_age.dta')

In [18]:
d11.head()

,ID,householdID,sysbp,diabp,pulse,peakflow,grip,walktime,bloodweight,qc1_va003,...,r1dlrc,r1ser7,r1orient,r1draw,r1tr20,birth11,birthm11,iyear11,imonth11,age11
0,010104101002,0101041010,123.666664,67.333336,55.333332,200.000000,43.0,NaN,32381.556641,1.0,...,7.0,5.0,4.0,0.no,17.0,1963.0,5.0,2011,7,48.166668
1,010104102002,0101041020,143.333328,74.666664,67.666664,236.666672,35.0,5.300,31800.947266,1.0,...,2.0,2.0,2.0,0.no,6.0,1951.0,9.0,2011,8,59.916668
2,010104104001,0101041040,178.666672,87.000000,55.000000,176.666672,30.0,4.015,31795.683594,1.0,...,6.0,2.0,3.0,0.no,12.0,1950.0,9.0,2011,7,60.833332
3,010104105002,0101041050,191.000000,106.333336,58.333332,560.000000,48.0,5.250,31711.080078,1.0,...,7.0,5.0,3.0,0.no,13.0,1943.0,12.0,2011,8,67.666664
4,010104107001,0101041070,118.333336,54.000000,53.666668,173.333328,30.0,4.700,63400.378906,1.0,...,6.0,4.0,3.0,0.no,10.0,1932.0,3.0,2011,7,79.333336

In [19]:
d15.head()

,ID,householdID,sysbp,diabp,pulse,peakflow,grip,walktime,bl_wbc,bl_hgb,...,r4dlrc,r4ser7,r4orient,r4draw,r4tr20,birth11,birthm11,iyear15,imonth15,age15
0,010104101001,0101041010,108.666664,66.666664,63.333332,226.666672,27.799999,NaN,5.6,15.9,...,5.0,5.0,3.0,0.no,11.0,1965.0,5.0,2015,8,50.250000
1,010104101002,0101041010,142.666672,64.666664,52.333332,266.666656,48.299999,NaN,8.3,16.3,...,3.0,5.0,2.0,0.no,7.0,1963.0,5.0,2015,8,52.250000
2,010104102001,0101041020,124.666664,70.000000,69.666664,283.333344,31.200001,2.845,7.9,16.2,...,2.0,0.0,0.0,0.no,7.0,1954.0,12.0,2015,8,60.666668
3,010104102002,0101041020,152.666672,85.666664,71.333336,410.000000,37.500000,1.845,7.4,16.6,...,2.0,5.0,2.0,0.no,7.0,1951.0,9.0,2015,8,63.916668
4,010104103001,0101041030,176.000000,95.000000,72.666664,396.666656,44.299999,NaN,7.0,19.1,...,6.0,5.0,3.0,1.yes,10.0,1963.0,11.0,2015,8,51.750000

In [20]:
d11.shape,d15.shape

((10137, 82), (13265, 80))

# After change column name

In [17]:
import pandas as pd
d11 = pd.read_csv('11.csv',index_col=0)
d15 = pd.read_csv('15.csv',index_col=0)

In [18]:
d11.head()

,ID,householdID,sysbp,diabp,pulse,peakflow,grip,walktime,bloodweight,qc1_va003,...,dlrc,ser7,orient,draw,tr20,birth,birthm,iyear,imonth,age
0,1.010410e+10,101041010,123.666664,67.333336,55.333332,200.00000,43.0,NaN,32381.557,1.0,...,7.0,5.0,4.0,0.no,17.0,1963.0,5.0,2011,7,48.166668
1,1.010410e+10,101041020,143.333330,74.666664,67.666664,236.66667,35.0,5.300,31800.947,1.0,...,2.0,2.0,2.0,0.no,6.0,1951.0,9.0,2011,8,59.916668
2,1.010410e+10,101041040,178.666670,87.000000,55.000000,176.66667,30.0,4.015,31795.684,1.0,...,6.0,2.0,3.0,0.no,12.0,1950.0,9.0,2011,7,60.833332
3,1.010411e+10,101041050,191.000000,106.333336,58.333332,560.00000,48.0,5.250,31711.080,1.0,...,7.0,5.0,3.0,0.no,13.0,1943.0,12.0,2011,8,67.666664
4,1.010411e+10,101041070,118.333336,54.000000,53.666668,173.33333,30.0,4.700,63400.380,1.0,...,6.0,4.0,3.0,0.no,10.0,1932.0,3.0,2011,7,79.333336

In [19]:
d15.head()

,ID,householdID,sysbp,diabp,pulse,peakflow,grip,walktime,wbc,hgb,...,dlrc,ser7,orient,draw,tr20,birth,birthm,iyear,imonth,age
0,1.010410e+10,101041010,108.666664,66.666664,63.333332,226.66667,27.8,NaN,5.6,15.9,...,5.0,5.0,3.0,0.no,11.0,1965.0,5.0,2015,8,50.250000
1,1.010410e+10,101041010,142.666670,64.666664,52.333332,266.66666,48.3,NaN,8.3,16.3,...,3.0,5.0,2.0,0.no,7.0,1963.0,5.0,2015,8,52.250000
2,1.010410e+10,101041020,124.666664,70.000000,69.666664,283.33334,31.2,2.845,7.9,16.2,...,2.0,0.0,0.0,0.no,7.0,1954.0,12.0,2015,8,60.666668
3,1.010410e+10,101041020,152.666670,85.666664,71.333336,410.00000,37.5,1.845,7.4,16.6,...,2.0,5.0,2.0,0.no,7.0,1951.0,9.0,2015,8,63.916668
4,1.010410e+10,101041030,176.000000,95.000000,72.666664,396.66666,44.3,NaN,7.0,19.1,...,6.0,5.0,3.0,1.yes,10.0,1963.0,11.0,2015,8,51.750000

In [20]:
set(d11.columns)&set(d15.columns)

{'ID',
 'age',
 'agey',
 'armsa',
 'arthre',
 'asthmae',
 'batha',
 'beda',
 'birth',
 'birthm',
 'bmi',
 'bun',
 'cancre',
 'cesd10',
 'chaira',
 'cho',
 'climsa',
 'crea',
 'crp',
 'cysc',
 'diabe',
 'diabp',
 'digeste',
 'dimea',
 'dlrc',
 'draw',
 'dressa',
 'dyslipe',
 'eata',
 'glu',
 'grip',
 'hbalc',
 'hdl',
 'hearte',
 'height',
 'hgb',
 'hibpe',
 'householdID',
 'housewka',
 'htc',
 'imonth',
 'imrc',
 'iyear',
 'joga',
 'kidneye',
 'ldl',
 'lifta',
 'livere',
 'lunge',
 'mcv',
 'mealsa',
 'medsa',
 'memrye',
 'moneya',
 'mstat',
 'orient',
 'peakflow',
 'plt',
 'psyche',
 'pulse',
 'raeduc_c',
 'ragender',
 'rural',
 'ser7',
 'shlta',
 'shopa',
 'slfmem',
 'stoopa',
 'stroke',
 'sysbp',
 'tg',
 'toilta',
 'tr20',
 'ua',
 'urina',
 'walk100a',
 'walk1kma',
 'walktime',
 'wbc',
 'weight'}

In [37]:
print(set(d11.columns)^set(d15.columns))

{'qc1_va003', 'bloodweight'}

In [38]:
df = d11.append(d15)

In [39]:
df.head()

,ID,householdID,sysbp,diabp,pulse,peakflow,grip,walktime,bloodweight,qc1_va003,...,dlrc,ser7,orient,draw,tr20,birth,birthm,iyear,imonth,age
0,1.010410e+10,101041010,123.666664,67.333336,55.333332,200.00000,43.0,NaN,32381.557,1.0,...,7.0,5.0,4.0,0.no,17.0,1963.0,5.0,2011,7,48.166668
1,1.010410e+10,101041020,143.333330,74.666664,67.666664,236.66667,35.0,5.300,31800.947,1.0,...,2.0,2.0,2.0,0.no,6.0,1951.0,9.0,2011,8,59.916668
2,1.010410e+10,101041040,178.666670,87.000000,55.000000,176.66667,30.0,4.015,31795.684,1.0,...,6.0,2.0,3.0,0.no,12.0,1950.0,9.0,2011,7,60.833332
3,1.010411e+10,101041050,191.000000,106.333336,58.333332,560.00000,48.0,5.250,31711.080,1.0,...,7.0,5.0,3.0,0.no,13.0,1943.0,12.0,2011,8,67.666664
4,1.010411e+10,101041070,118.333336,54.000000,53.666668,173.33333,30.0,4.700,63400.380,1.0,...,6.0,4.0,3.0,0.no,10.0,1932.0,3.0,2011,7,79.333336

In [41]:
d11.shape,d15.shape,df.shape

((10137, 82), (13265, 80), (23402, 82))

In [43]:
#df.to_csv('merge.csv')

In [44]:
df.drop_duplicates().shape

(23402, 82)