In [12]:
import pandas as pd

In [13]:
d = pd.read_csv('kdm_test.csv')

In [14]:
d.tail()

,ID,householdID,sysbp,diabp,wbc,plt,bun,age,bioage
10022,347763307002,3477633070,165.333328,108.666664,5.4,179.0,12.464450,49.750000,38.250479
10023,347763310001,3477633100,177.666672,96.333336,4.9,136.0,18.710680,71.333336,49.699145
10024,347763310002,3477633100,132.333328,70.000000,4.8,197.0,12.716540,61.250000,64.382665
10025,347763312001,3477633120,116.333336,73.333336,5.6,120.0,17.030081,48.583332,44.668696
10026,347763312002,3477633120,121.000000,74.000000,7.7,157.0,18.822720,53.833332,48.570074

In [15]:
d.head()

,ID,householdID,sysbp,diabp,wbc,plt,bun,age,bioage
0,10104101002,101041010,123.666664,67.333336,9.6,198.0,19.43894,48.166668,38.501318
1,10104102002,101041020,143.333328,74.666664,5.3,179.0,12.35241,59.916668,57.727055
2,10104104001,101041040,178.666672,87.000000,7.5,271.0,22.09989,60.833332,32.516112
3,10104105002,101041050,191.000000,106.333336,4.7,208.0,15.62958,67.666664,47.447632
4,10104107001,101041070,118.333336,54.000000,8.3,290.0,13.22072,79.333336,96.955704

In [4]:
d.shape

(10027, 9)

In [5]:
d['res']= d['bioage']-d['age']
d['five'] = d.res.apply(lambda x: 1 if abs(x) <=5 else 0)
d['ten'] = d.res.apply(lambda x: 1 if abs(x) <=10 else 0)

d = d.reset_index(drop=True)

In [6]:
d.five.value_counts()

0    6519
1    3508
Name: five, dtype: int64

In [9]:
3508/10027

0.34985539044579633

In [18]:
d.ten.value_counts()

1    6379
0    3648
Name: ten, dtype: int64

In [11]:
6379/10027

0.6361823077690236